<main>
  <h1>TIC TAC TOE</h1>

  <section>
    <p>it is the turn of player :
      <span>{{currentPlayer}}</span>
    </p>
    <app-gameboard class="gameboard" [currentPlayer]="currentPlayer" (sendCurrentPlayer)="getCurrentPlayer($event)"
      (Sendwinner)="getWinner($event)"></app-gameboard>

    <b *ngIf="winner ==='X'|| winner==='O'">player {{winner}} won</b>
    <button *ngIf="winner.length>0" (click)="handleRestart()" id="restart">restart</button>


  </section>
</main>
<router-outlet></router-outlet>
